<!DOCTYPE html>
<html ng-app="appListaTelefonica">
<head>
	<title>Parte 1</title>
	<script type="text/javascript" src="lib/angular/angular-1.6.2.js"></script>
	<script type="text/javascript">
		angular.module("appListaTelefonica",[]);
		angular.module("appListaTelefonica").controller("listaTelefonicaCtrl", function($scope){
			$scope.message='';
			$scope.contato={};
			$scope.show_lterar=false;
			$scope.contatos = [];
			$scope.app="Lista Telefonica";
		
			$scope.adicionar=function(){
				$scope.contatos.push($scope.contato);
				$scope.contato={};
				$scope.message="Contato cadastrado com sucesso!";
				show_lterar=false;
			};

			$scope.excluir=function(contato){
				$scope.contatos.splice($scope.contatos.indexOf(contato),1);
				$scope.message="Contato excluido com sucesso!";
			};

			$scope.editar=function(contato){
				$scope.show_lterar = true;
				$scope.contato=angular.copy(contato);
				$scope.contato.index = $scope.contatos.indexOf(contato);
			}

			$scope.alterar=function(contato){
				$scope.contatos[$scope.contato.index] = contato;
				$scope.contato={};
				$scope.message="Contato alterado com sucesso!";
				$scope.show_lterar = false;
			};

			
		});
	</script>

	<link rel="stylesheet" type="text/css" href="lib/bootstrap-3.3.7-dist/css/bootstrap.css" />
	<style type="text/css">
		.jumbotron{
			width:400px;
			text-align:center;
			margin-top:20px;
			margin-left:auto;
			margin-right:auto;
		}

		.table{
			margin-top:20;
		}

		.form-control{

		}

	</style>
</head>
<body>
	
	<div class="jumbotron" ng-controller="listaTelefonicaCtrl">
		<h4 ng-bind="app"></h4>
		<hr />
		<br />
		
		<table class="table table-striped">
				<tr>
					<th>Nome</th>
					<th>Telefone</th>
					<th></th>
				</tr>
				<tr ng-repeat="contato in contatos">
					<td>{{contato.nome}}</td>
					<td>{{contato.telefone}}</td>
					<td>
						<button class="glyphicon glyphicon-pencil" ng-click="editar(contato)"></button>
						<button class="glyphicon glyphicon-remove" ng-click="excluir(contato)"></button>
					</td>
				</tr>
		</table>

		<hr />
		<input type="text" ng-model="contato.nome" class="form-control" placeholder="Nome" />
		<input type="text" ng-model="contato.telefone" class="form-control" placeholder="Telefone" />
		<button ng-click="adicionar()" ng-show="!show_lterar" class="btn btn-primary btn-block">Adiconar contato</button>
		<button ng-click="alterar(contato)" ng-show="show_lterar" class="btn btn-primary btn-block">Alterar contato</button> 
		<div class="alert alert-success" ng-show="message != ''" role="alert">{{message}}</div>
	</div>

</body>
</html>
